<header class="bg-white shadow">
    <div class="bg-gray-950	flex justify-center py-2"><span class="text-gray-200">Get 25% OFF on your first order. <a href="#" class="text-white">Order Now</a></span></div>
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <a routerLink="/home" class="text-2xl font-bold text-black flex items-center gap-3"><app-logo-header></app-logo-header> Ecommerce</a>
      <nav class="flex space-x-4">
        <a routerLink="/home" class="text-gray-600 hover:text-blue-500">Searchbar Here</a>
        <div class="relative inline-block text-left group">
          <a class="dropdown-button-user cursor-pointer">
            <app-user-logo></app-user-logo>
          </a>

          <!-- Logged-in Dropdown -->
          <div
            *ngIf="loggedIn"
            class="dropdown-menu absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
            <div class="p-2">
              <span class="block text-gray-800 font-semibold">{{ userName }}</span>
            </div>
            <a (click)="logout()" href="#" class="block px-4 py-2 text-gray-600 hover:text-blue-500">Logout</a>
          </div>

          <!-- Logged-out Dropdown -->
          <div
            *ngIf="!loggedIn"
            class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded-lg shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
            <a routerLink="/login" class="block px-4 py-2 text-gray-600 hover:text-blue-500">Login</a>
          </div>
        </div>

        <a href="#"><app-cart-logo></app-cart-logo></a>
      </nav>
    </div>
  </header>
