<!-- Footer -->
 <app-newsletter-row></app-newsletter-row>
<footer>
    <!-- Top Footer -->
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-4 gap-6">
            <!-- Left Column -->
            <div class="footer-left-col">
                <span class="text-xl font-bold text-gray-700 mb-4 flex items-center gap-4"><app-logo-small></app-logo-small> Ecommerce</span>
                <ul class="space-y-2">
                  <li class="text-neutral-500 mb-6">DevCut is a YouTube channel for practical project-based learning.</li>
                  <li class="flex gap-6">
                    <app-github-logo class="inline-block"></app-github-logo>
                    <app-instagram-logo class="inline-block"></app-instagram-logo>
                    <app-youtube-logo class="inline-block"></app-youtube-logo>
                  </li>
                </ul>
            </div>
            <!-- Middle Column -->
            <div class="col-span-2">
                <div class="grid grid-cols-3 gap-6">
                    <!-- SUPPORT -->
                    <div>
                        <h3 class="text-lg text-neutral-500 mb-6 text-center">SUPPORT</h3>
                        <ul class="space-y-2">
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">FAQ</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Terms of Use</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- COMPANY -->
                    <div>
                        <h3 class="text-lg text-neutral-500 mb-6 text-center">COMPANY</h3>
                        <ul class="space-y-2">
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Careers</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Contact</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">About Us</a></li>
                        </ul>
                    </div>
                    <!-- SHOP -->
                    <div>
                        <h3 class="text-lg text-neutral-500 mb-6 text-center">SHOP</h3>
                        <ul class="space-y-2">
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Cart</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">Checkout</a></li>
                            <li class="text-center"><a href="#" class="text-gray-700 hover:text-black">My Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div>
                <h3 class="text-lg text-neutral-500 mb-4 text-center">ACCEPTED PAYMENTS</h3>
                <ul class="space-y-2 flex items-end gap-5 justify-center">
                    <li><app-mastercard-logo [isBlackAndWhite]=true ></app-mastercard-logo></li>
                    <li><app-amex-logo [isBlackAndWhite]=true></app-amex-logo></li>
                    <li><app-visa-logo [isBlackAndWhite]=true></app-visa-logo></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bottom Footer -->
    <div class="bg-neutral-100 py-4">
        <div class="container mx-auto text-center">
            <p class="text-sm text-gray-600">&copy; 2024 All Rights Reserved</p>
        </div>
    </div>
</footer>
