<div class="cont bg-neutral-100 w-full p-4 py-6">

  <div class="flex items-center justify-between py-8 px-4 rounded-lg w-9/12 m-auto">
    <!-- Left Section -->
    <div>
    <h2 class="text-3xl font-semibold text-gray-900 mb-4">Join Our Newsletter</h2>
    <p class="text-gray-500 text-sm">We love to surprise our subscribers with occasional gifts.</p>
    </div>

    <!-- Right Section (Form) -->
    <div class="flex items-center space-x-2">
      <input
      type="email"
      placeholder="Your email address"
      class="w-64 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />
      <button
      class="px-5 py-2 bg-gray-900 text-white rounded-lg hover:bg-gray-700 transition">
      Subscribe
    </button>
    </div>
  </div>

</div>
